<article>
    <div>
        <div>
            <div>
                <a href="/post/{{id}}" class="links">{{title}}</a>
            </div>
            <div>
                <p id="comment-subtitle">
                    Posted by <b>{{user.username}} </b> on <b>{{formatDate created_at}}</b>
                </p>
            </div>
        </div>
        <div>
            <p>{{content}}</p>
        </div>
    </div>
</article>